
<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="post">My Posts</a>
    <a href="posts/new">New Post</a>
    <a href="reg" class="right">Register</a>
    <a href="auth" class="right">Login</a>
  </div>