
<div class="navbar">
    <a href="/" class="active">Home</a>
    
    <% if(loggedIn) { %>
        <a href="/profile">Profile</a>
        <a href="/posts/new">New Post</a>
        <a class="right" href="/auth/logout">Log out</a>         
      <% } %>
      <% if(!loggedIn) { %>    
        <a href="/auth/register" class="right">Register</a>
        <a href="/auth/login" class="right">Login</a>
      <% } %>   

      
  </div>