<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body>
    <%- include('layouts/navbar'); -%>
   
   
   <div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo" style="background-image: url('img/smth_new.jpg');"></div>
        <div id="ProfileOptions">
            Gachi_Wild_Hunter
        </div>
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
            <span>Gachi</span>
        </p>
        <p>
            <strong>Surname:</strong>
            <span>Muchi</span>
        </p>
        <p>
            <strong>Address:</strong>
            <span>Your house</span>
        </p>
        <p>
            <strong>Email:</strong>
            <span>8abs_boy@gachi.com</span>
        </p>
        <p>
            <strong>Phone:</strong>
            <span>87081444129</span>
        </p>
    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
    
</div>

<div class="classes">
    <strong>Status</strong>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nulla laudantium ab quas assumenda odio, earum nobis beatae expedita repellendus autem tenetur commodi, optio hic tempore obcaecati. Minus, voluptates eveniet?</p>
    <strong>Option</strong>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora expedita accusantium, dolore necessitatibus dolorum officiis ratione, amet, itaque doloremque aliquam porro odio illum quos molestiae facere impedit pariatur harum adipisci!</p>
</div>


   <%- include('layouts/footer'); -%>
   <%- include('layouts/scripts'); -%>
</body>
</html>