<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body>
    <!--%- include('layouts/header'); -%-->
   <%- include('layouts/navbar'); -%> 

   <form>
    <div class="row">  
 <div class="container">   
     <label>Username : </label>   
     <input type="text" placeholder="Enter Username" name="username" required>  
     <label>Password : </label>   
     <input type="password" placeholder="Enter Password" name="password" required>
     <label>Enter again Password : </label>   
     <input type="password" placeholder="Re-Enter Password" name="password" required>
     <label>Email : </label>
     <input  type="text" placeholder="Enter Email" name="email" required> 
     <button type="submit">Register</button>   
     <input type="checkbox" checked="checked"> Remember me   
     <button type="button" class="cancelbtn"> Cancel</button>   
        
 </div>   
 </div>
</form>     


   <!--%- include('layouts/footer'); -%-->
    <%- include('layouts/scripts'); -%>
</body>
</html>