<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body>
    <%- include('layouts/navbar'); -%>

    <div class="row">  
 <div class="container">
    <% if(errors !=null & errors.length > 0) { %>
        <ul>
        <% for (var i = 0; i < errors.length;i++) { %>
          <li><%= errors[i] %></li>
          <% } %>
        </ul>
        <% } %>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <label>Username : </label>   
            <input type="text" placeholder="User Name" id="username" name="username" required> 
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" id="password" name="password" required>
            <button type="submit">Register</button>
        </form>
    </div>
</div>     


    <%- include('layouts/scripts'); -%>
</body>
</html>